body{
    background-color: lightgrey;
    margin: 0;
}

header{
    background-color: lightgrey;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1% 5%;
}

nav ul{
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.home-content{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 40px;
    max-width: 1000px;
    width: 90%;
}

.text-content{
    flex: 1;
    display: flex;
    flex-direction: column;

}

.social-media-buttons{
    display: flex;
}

.image-content img{
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
}