header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;  
    background-color: aqua;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    box-sizing: border-box;
}

nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
    margin-right: 10px;
}

.home{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;
    padding: 20px;
}

.home-content{
    display: flex;             
    align-items: center;         
    gap: 80px;                
}

.text-content{
    width: 700px;
}

.text-content h1{
    font-size: 50px;
}

.text-content h2{
    font-size: 40px;
    -webkit-text-stroke: 2px orange;
    color: transparent;
}

.image-content {
    width: 40%;             
    display: flex;
}

.image-content img{
    width: 150px;
    height: 150px;
}

